{% extends "base.html" %}

{% block content %}
<body>
<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Why Tinydoor?</h2>
          <p>
            Tinydoor helps <strong>retailers track customer satisfaction</strong> using <em>computer vision</em> and <em>deep learning</em>.
            See how in 5 minutes!
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7txyTNZqXO4" 
              frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen>
            </iframe>
            <br><br>
          </p>
          <h3>How Will Tinydoor Benefit Me?</h3>
          <p>
            Brick and mortar business owners need to be able to listen to customers, with the least amount of bias as possible.
            <br><br>
            Tinydoor allows business owners to be able to:
          </p>
          <ul>
            <li>
              Maintain their existing surveillance camera infrastructure,
            </li>
            <li>
              Track the emotions of ALL their visitors, not just those who happen to answer customer surveys
            </li>
            <li>
              and communicate easily to their partners how the customer experience is evolving emotionally!
            </li>
          </ul>
          <p>
          Tinydoor can be applied to any industry that still relies upon providing physical experiences - from airports to hotels and hospitals, why not see what Tinydoor will do for you?
          </p>
          <h3>How does Tinydoor work?</h3>
          <ol>
            <li>
              Tinydoor users will be able to hop on the site, https://tinydoor.co, and upload surveillance videos for free.
            </li>
            <li>
              Then the web app will process those videos, using deep learning provided by AWS Rekognition to detect any and all facial expressions.
            </li>
            <li>
              Based on how positive the facial expressions in the video file are in general, the web app then outputs a "Customer Satisfaction" score of 0-1 for that video.

              1 means that the people in the video are having a great time, while a score of 0 means the model thinks they are absolutely miserable. 
            </li>
          </ol>
          <h3>What is Tinydoor's Mission?</h3>
          <p>
            We need to have a larger conversation about the use of computer vision technology by businesses as well as governments.
            Tinydoor does not reveal the identities of the customers found in the videops it searches, but rather returns a lump sum score for the general sentiment of the group. 
            <br><br>
            We intend to shed a light upon one possible scenario of the future, in which AI can bring value to a company while respecting customer privacy.
          </p>
        </div>
      </div>
    </div>
  </section>
</body>
{% endblock content %}
