{% extends "base.html" %}
{% load static %}
{% block css %}
<!-- Basic Uppy styles -->
<link href="https://transloadit.edgly.net/releases/uppy/v1.16.1/uppy.min.css" rel="stylesheet">
{{ block.super }}
<link href="//transloadit.edgly.net/releases/uppy/robodog/v1.6.4/robodog.min.css" rel="stylesheet">
{% endblock css %}

{% block content %}

    <section class="main-section bg-white space-md">
      <div class="container">
        <div class="row align-items-center justify-content-around">
          <div class="col-12 col-md-6 col-lg-5 text-center text-md-left section-intro">
            <h1 class="display-3">Take control of customer experience.</h1>
            <span class="lead">
              Surveys are antiquated. Use emotions to quantify .
            </span>
            <a href="#" id="browse" class="animation-reaction btn btn-success btn-lg">Start now</a>
          </div>
          <!--end of col-->
          <div class="col-12 col-md-6 col-lg-6">
            <img alt="Image" class="img-fluid w-100" src="{% static 'images/surr/surr-searching.png' %}" />
          </div>
          <!--end of col-->
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </section>
    <!--end of section-->
{% endblock content %}

{% block javascript %}
{{ block.super }}
<!-- This pulls Uppy from our CDN. Alternatively use `npm i @uppy/robodog save` -->
<!-- if you want smaller self-hosted bundles and/or to use modern JavaScript -->
<script src="//transloadit.edgly.net/releases/uppy/robodog/v1.6.4/robodog.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://transloadit.edgly.net/releases/uppy/v1.16.1/uppy.min.js"></script>

<!-- Background Animation -->
<script src="{% static 'js/three.min.js' %}"></script>
<script src="{% static 'js/vanta.fog.min.js' %}"></script>

<script>
document.getElementById('browse').addEventListener('click', function () {
  var uppy = window.Robodog.pick({
    providers: [ 'instagram', 'url', 'webcam', 'dropbox', 'google-drive', 'facebook', 'onedrive' ],
    waitForEncoding: true,
    params: {
      // To avoid tampering, use Signature Authentication
      auth: { key: '20ff383b0b2b49a79643d1874edf5a3f' },
      template_id: '85def6ad6f4b437182fb715cdd45977f'
    }
  }).then(function (bundle) {
    // Due to `waitForEncoding: true` this is fired after encoding is done.
    // Alternatively, set `waitForEncoding` to `false` and provide a `notify_url`
    // for Async Mode where your back-end receives the encoding results
    // so that your user can be on their way as soon as the upload completes.
    console.log(bundle.transloadit) // Array of Assembly Statuses
    console.log(bundle.results)     // Array of all encoding results

    startWatching(bundle.results[0].ssl_url);
  }).catch(console.error)
})

function startWatching(furl) {
    $.ajax({
        type: "POST",
        url: "/",
        data: {
            file_url: furl,
            csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        success: function(data) {
            // Once the task is started, redirect to results page
            window.location.href += data.task_id;
        }
    });
}

const effect = VANTA.FOG({
  el: ".main-section",
  mouseControls: true,
  touchControls: true,
  minHeight: 200.00,
  minWidth: 200.00,
  highlightColor: 0xffffff,
  midtoneColor: 0xc9cbcd,
  lowlightColor: 0x7f8891,
  baseColor: 0xffffff,
  blurFactor: 0.1,
  speed: 2.30,
  zoom: 2.80
});

$(".animation-reaction").hover(
    () => {
        effect.setOptions({
            speed: 5,
            blurFactor: .15
        })
    }, () => {
        effect.setOptions({
            speed: 3,
            blurFactor: .1
        })
});
</script>
{% endblock javascript %}
