{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}

<section class="space-sm">
  <div class="container align-self-start">
    <div class="row mb-5">
      <div class="col text-center">
        <a href="#">
          <img alt="Tinydoor" style="width:70px;height:70px;" src="{% static 'images/tinydoor.png' %}"/>
        </a>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-7">
        <div class="card card-lg text-center">
          <div class="card-body">
            <div class="mb-5">
              <h1 class="h2 mb-2">Hello again</h1>
              <span>Sign in to your account to continue</span>
            </div>
            <div class="row no-gutters justify-content-center">
              <form class="text-left col-lg-8 login" method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
                  {{ form|crispy }}
                  {% comment %}
                <div class="form-group">
                  <label for="login-username">Username</label>
                  <input class="form-control form-control-lg" type="username" name="username" id="login-username" placeholder="Username" />
                </div>
                <div class="form-group">
                  <label for="login-password">Password</label>
                  <input class="form-control form-control-lg" type="password" name="password" id="login-password" placeholder="Enter a password" />
                  <small>Forgot password? <a href="#">Reset here</a>
                  </small>
                </div>
                <div>
                  <div class="custom-control custom-checkbox align-items-center">
                    <input type="checkbox" class="custom-control-input" value="box-1" name="box-1" checked id="check-remember">
                    <label class="custom-control-label text-small" for="check-remember">Remember me next time</label>
                  </div>
                </div>
                {% endcomment %}
                <div class="text-center mt-3">
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                    {% comment %}
                  <button type="submit" class="btn btn-lg btn-primary">Log in</button>
                  {% endcomment %}
                </div>

              </form>
            </div>
            <!--end of row-->
          </div>
        </div>
        <div class="text-center">
          <span class="text-small">Don't have an account yet? <a href="#">Create one</a>
          </span>
        </div>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
{% endblock content %}
