{% extends "account/base.html" %}

{% load i18n static %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner %}

{% comment %}
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endcomment %}

<section class="space-sm">
  <div class="container align-self-start">
    <div class="row mb-5">
      <div class="col text-center">
        <a href="{% url 'home' %}">
          <img class="img-lightlight" alt="Image" style="width:70px;height:70px;" src="{% static 'images/logo/gray.svg' %}" />
        </a>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-7">
        <div class="card card-lg text-center">
          <div class="card-body">
            <div class="mb-4">
              <h2 class="mb-2">Reset password</h2>
              <span>Enter email address to reset password</span>
            </div>
            <div class="row no-gutters justify-content-center">
              <form class="text-left col-lg-8">
                  {% comment %}
                <div class="form-group">
                  <label for="reset-email">Email Address</label>
                  <input class="form-control form-control-lg" type="email" name="email" id="reset-email" placeholder="Email Address" />
                </div>
                {% endcomment %}
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center mb-4">
                  <button type="submit" class="btn btn-primary btn-lg">Reset password</button>
                </div>
              </form>
            </div>
            <!--end of row-->
          </div>
        </div>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<!--end of section-->
{% endblock %}
