{% extends "base.html" %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Superusers may also view the Admin site -->
    {% if object.is_staff is True %}
      <a class="btn btn-primary" href="{% url 'admin:index' %}" role="button">Admin Site</a>
    {% endif %}
    <hr>
    <!-- Display the Score this User has Created -->
    <h3> Your Scores {% if scores %}<small class="text-muted">({{ scores|length }} Score{{ scores|length|pluralize:"s" }})</small>{% endif %}</h3>
    <p>
      {% if scores %}
        <div class="card-columns">
          {% for score in scores %}
            {% include 'partials/score_card.html' %}
          {% endfor %}
        </div>
      {% else %}
        <div class="alert alert-primary" role="alert">There are no scores to display.</div>
      {% endif %}
    </p>
    <hr>
    <h3>Scores Over Time</h3>
    <canvas id="lineChart" width="1200" height="400" class="chartjs-render-monitor"></canvas>
    <hr>
  </div>
</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

{% block javascript %}
{{ block.super }}
<!-- jQuery and Ajax needed for Chart.js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>

<!-- Chart Making Script -->
<script>
  $(document).ready(function(){
      // get the data on the TimeStep from the API, using AJAX
      let endpoint = '/api/{{ user_id }}/'
      let plotData = []
      let plotLabels = [];
      $.ajax({
          method: "GET",
          url: endpoint,
          success: function(data){
              plotData = data.scores
              plotLabels = data.dates
              lineChart()
          },
          error: function(error_data){
              console.log(error_data)
          }
      })
      // make line chart
      function lineChart() {
          // make the line chart
            let ctx = document.getElementById('lineChart').getContext('2d');
            let chart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    label: 'Score values',
                    // TODO: color the plot a lively shade of blue
                    // backgroundColor: Color('rgba(21, 176, 253, .2)'),
                    // borderColor: Color('rgba(21, 176, 253, .2)'),
                    fill: true,
                    data: plotData,
                }],
                labels: plotLabels
            },
            // Add more style to the plot
            options: {
              responsive: true,
              title: {
                display: true,
                text: 'Emotion Scores Over Time'
              },
              tooltips: {
                mode: 'index',
                intersect: false,
              },
              hover: {
                mode: 'nearest',
                intersect: true
              },
              scales: {
                xAxes: [{
                  display: true,
                  scaleLabel: {
                    display: true,
                    labelString: 'Date'
                  }
                }],
                yAxes: [{
                  display: true,
                  scaleLabel: {
                    display: true,
                    labelString: 'Emotion Score',
                  },
                  ticks: {
                    suggestedMin: 0,
                    suggestedMax: 1
                  }
                }]
              }}
        });
        }
    })
</script>
{% endblock javascript %}

