{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <hr>
    <!-- Display the Score this User has Created -->
    <h3> Your Scores {% if scores %}<small class="text-muted">({{ scores|length }} Score{{ scores|length|pluralize:"s" }})</small>{% endif %}</h3>
    <p>
      {% if scores %}
            <div class="card-columns">
              {% for score in scores %}
              {% include 'partials/score_card.html' %}
            {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-primary" role="alert">There are no scores to display.</div>
        {% endif %}
    </p>
    <hr>
    <h3>Scores Over Time</h3>
    <canvas id="lineChart" width="1600" height="400"></canvas>
    <hr>
  </div>
</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

{% block javascript %}
{{ block.super }}
<!-- jQuery and Ajax needed for Chart.js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>

<!-- Chart Making Script -->
<script>
  $(document).ready(function(){
      // get the data on the TimeStep from the API, using AJAX
      let endpoint = '/api/score-data/'
      let plotData = []
      let plotLabels = [];
      $.ajax({
          method: "GET",
          url: endpoint,
          success: function(data){
              plotData = data.values
              plotLabels = data.labels
              lineChart()
          },
          error: function(error_data){
              console.log(error_data)
          }
      })
      // make line chart
      function lineChart() {
            let ctx = document.getElementById('lineChart').getContext('2d');
            let chart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    label: 'First dataset',
                    data: [0, 20, 40, 50]
                }],
                labels: ['January', 'February', 'March', 'April']
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            suggestedMin: 50,
                            suggestedMax: 100
                        }
                    }]
                }
            }
        });
        }
    })
</script>
{% endblock javascript %}

